.testimonial06 {
  position: relative;
  width: 1440px;
  height: 892px;
  left: 0px;
  top: 0px;
  background: #d5fafc;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 0px;
}
.quoteMark {
  position: relative;
  width: 142px;
  height: 116px;
  left: 112px;
  top: 64px;
  opacity: 0.3;
}
.testimonial06SectionHeadling {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: relative;
  width: 488px;
  height: 156px;
  left: 216px;
  top: 0px;
}
.testimonial06Description {
  position: static;
  width: 488px;
  height: 28px;
  left: 0px;
  top: 128px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "liga" off;
  color: #111827;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
}
.testimonial06SectionTitle {
  position: static;
  width: 488px;
  height: 120px;
  left: 0px;
  top: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.025em;
  font-feature-settings: "liga" off;
  color: #111827;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
}
.testimonialItem1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 488px;
  height: 312px;
  left: 736px;
  top: -80px;
  background: #ffffff;
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1),
    0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border-radius: 8px;
}
.testimonialItem1Content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 424px;
  height: 184px;
  left: 32px;
  top: 96px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.testimonialItemLogo1 {
  position: relative;
  width: 112px;
  height: 32px;
  left: 32px;
  top: -6px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0px;
}
.littleQuoteMark {
  position: static;
  width: 0px;
  height: 13px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px;
}
.feedbackPersonDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: relative;
  width: 392px;
  height: 184px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 16px;
}
.personDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 392px;
  height: 48px;
  left: 0px;
  top: 136px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}
.feedback {
  position: static;
  width: 390px;
  height: 115px;
  left: 0px;
  top: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "liga" off;
  color: #111827;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.floydMiles {
  position: static;
  width: 392px;
  left: calc(50% - 392px / 2);
  top: 0%;
  bottom: 41.67%;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "liga" off;
  color: #111827;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.vicePresident {
  position: static;
  width: 392px;
  left: calc(50% - 392px / 2);
  top: 58.33%;
  bottom: 0%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "liga" off;
  color: #6b7280;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.testimonialItem2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 384px;
  height: 256px;
  left: 736px;
  top: -50px;
  background: #ffffff;
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1),
    0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border-radius: 8px;
}
.testimonialItemLogo2 {
  position: relative;
  width: 112px;
  height: 32px;
  left: 32px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0px;
}
.testimonialItem2Content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 320px;
  height: 128px;
  left: 0px;
  top: -20px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 20px 0px;
}
.feedbackPersonDetails2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 288px;
  height: 128px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 16px;
}
.feedback2 {
  position: static;
  width: 288px;
  height: 56px;
  left: 0px;
  top: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "liga" off;
  color: #111827;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 20px;
}
.personDetails2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 288px;
  height: 48px;
  left: 0px;
  top: 80px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}
.testimonialItem3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 384px;
  height: 396px;
  right: 736px;
  top: 340px;
  background: #ffffff;
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1),
    0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border-radius: 8px;
}
.testimonialItem3Content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 320px;
  height: 268px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 60px;
}
.testimonialItemLogo3 {
  position: relative;
  width: 112px;
  height: 32px;
  left: 30px;
  top: 25px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.feedbackPersonDetails3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 288px;
  height: 268px;
  left: 32px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 16px;
}
.personDetails3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 288px;
  height: 48px;
  left: 0px;
  top: 220px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}
.feedback3 {
  position: static;
  width: 288px;
  height: 196px;
  left: 0px;
  top: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "liga" off;
  color: #111827;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

@media only screen and (max-width: 768px) {
  .testimonial06 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 40px 80px;
    position: static;
    width: 768px;
    height: 1300px;
    left: 0px;
    top: 2373px;
    margin: 0px 0px;
  }
  .quoteMark {
    left: -10px;
    top: 50px;
    opacity: 0.3;
  }
  .testimonial06SectionHeadling {
    position: relative;
    width: 688px;
    height: 81px;
    left: 0px;
    top: 0px;
  }
  .testimonial06Description {
    width: 688px;
    height: 28px;
    left: 0px;
    top: 0px;
    margin: 8px 0px;
  }
  .testimonial06SectionTitle {
    position: static;
    width: 688px;
    height: 45px;
    left: 0px;
    top: 0px;
    font-size: 36px;
    line-height: 45px;
    margin: 8px 0px;
  }
  .testimonialItem1 {
    padding: 20px;
    position: static;
    width: 688px;
    height: 284px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    margin: 50px -24px;
  }
  .testimonialItem1Content {
    position: static;
    width: 624px;
    height: 156px;
    left: 32px;
    top: 96px;
    margin: 32px 0px;
  }
  .testimonialItemLogo1 {
    position: static;
    width: 112px;
    height: 32px;
    left: 32px;
    top: 32px;
    margin: 32px 0px;
  }
  .feedbackPersonDetails {
    position: static;
    width: 592px;
    height: 156px;
    left: 32px;
    top: 0px;
    margin: 0px 16px;
  }
  .personDetails {
    width: 592px;
    height: 48px;
    left: 0px;
    top: 108px;
    margin: 24px 0px;
  }
  .feedback {
    position: static;
    width: 592px;
    height: 84px;
    left: 0px;
    top: 0px;
    margin: 0px 0px;
  }
  .testimonialItem3 {
    padding: 20px;
    position: static;
    width: 688px;
    height: 284px;
    right: 0px;
    top: 308px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px -24px;
  }
  .testimonialItemLogo3 {
    position: relative;
    width: 112px;
    height: 32px;
    left: 32px;
    top: 0px;
    margin: 32px 0px;
  }
  .testimonialItem3Content {
    position: static;
    width: 624px;
    height: 156px;
    left: 32px;
    top: 96px;
    margin: 32px 0px;
  }
  .feedbackPersonDetails3 {
    position: static;
    width: 592px;
    height: 156px;
    left: 32px;
    top: 0px;
    margin: 0px 16px;
  }
  .feedback3 {
    position: static;
    width: 592px;
    height: 84px;
    left: 0px;
    top: 0px;
    margin: 0px 0px;
  }
  .personDetails3 {
    position: static;
    width: 592px;
    height: 48px;
    left: 0px;
    top: 108px;
    margin: 24px 0px;
  }
  .testimonialItem2 {
    padding: 20px;

    position: static;
    width: 688px;
    height: 228px;
    left: 0px;
    top: 616px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px -24px;
  }
  .testimonialItem2Content {
    position: static;
    width: 624px;
    height: 100px;
    left: 32px;
    top: 96px;
    margin: 32px 0px;
  }
  .testimonialItemLogo2 {
    position: static;
    width: 112px;
    height: 32px;
    left: 32px;
    top: 32px;
    margin: 32px 0px;
  }
  .feedbackPersonDetails2 {
    position: static;
    width: 592px;
    height: 100px;
    left: 32px;
    top: 0px;
    margin: 0px 16px;
  }
  .personDetails2 {
    width: 592px;
    height: 48px;
    left: 0px;
    top: 52px;
    margin: 24px 0px;
  }
  .feedback2 {
    position: static;
    width: 592px;
    height: 28px;
    left: 0px;
    top: 0px;
    margin: 0px 0px;
  }
}
@media only screen and (max-width: 375px) {
  .testimonial06 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 20px 48px;
    position: static;
    width: 375px;
    height: 1500px;
    left: 0px;
    top: 3070px;
    background: #d5fafc;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 0px;
  }
  .quoteMark {
    position: relative;
    width: 96px;
    height: 78px;
    left: -8px;
    top: -32px;
    opacity: 0.3;
  }
  .testimonial06SectionHeadling {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    height: 112px;
    left: 0px;
    right: 0px;
    top: -56px;
  }
  .testimonial06Description {
    position: static;
    width: 335px;
    height: 24px;
    left: 0px;
    top: 88px;
    font-size: 16px;
    line-height: 24px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
  }
  .testimonial06SectionTitle {
    position: static;
    width: 335px;
    height: 80px;
    left: 0px;
    top: 0px;
    font-size: 30px;
    line-height: 40px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
  }
  .testimonialItem1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: static;
    width: 320px;
    height: 368px;
    left: 0px;
    top: 0px;
    margin: 24px -12px;
  }
  .testimonialItem1Content {
    width: 271px;
    height: 240px;
    left: 32px;
    top: 96px;
    margin: 32px 0px;
  }

  .littleQuoteMark {
    position: static;
    width: 16px;
    height: 13px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
  }
  .feedbackPersonDetails {
    width: 239px;
    height: 240px;
    left: 32px;
    top: 0px;
    margin: 0px 16px;
  }
  .personDetails {
    width: 239px;
    height: 48px;
    left: 0px;
    top: 192px;
    margin: 24px 0px;
  }
  .feedback {
    position: static;
    width: 239px;
    height: 168px;
    left: 0px;
    top: 0px;
    margin: 0px 0px;
  }
  .testimonialItem3 {
    padding: 20px;
    position: static;
    width: 320px;
    height: 424px;
    right: 0px;
    top: 392px;
    margin: 24px -12px;
  }
  .testimonialItemLogo3 {
    position: relative;
    width: 112px;
    height: 32px;
    left: 32px;
    top: 0px;
    margin: 32px 0px;
  }
  .testimonialItem3Content {
    position: static;
    width: 271px;
    height: 296px;
    left: 32px;
    top: 96px;
    margin: 32px 0px;
  }
  .feedbackPersonDetails3 {
    position: static;
    width: 239px;
    height: 296px;
    left: 32px;
    top: 0px;
    margin: 0px 16px;
  }
  .feedback3 {
    position: static;
    width: 239px;
    height: 224px;
    left: 0px;
    top: 0px;
    margin: 0px 0px;
  }
  .personDetails3 {
    position: static;
    width: 239px;
    height: 48px;
    left: 0px;
    top: 248px;
    margin: 24px 0px;
  }
  .testimonialItem2 {
    padding: 20px;
    position: static;
    width: 320px;
    height: 284px;
    left: 0px;
    top: 840px;
    margin: 24px -12px;
  }
  .testimonialItem2Content {
    position: static;
    width: 271px;
    height: 156px;
    left: 32px;
    top: 96px;
    margin: 32px 0px;
  }
  .testimonialItemLogo2 {
    position: static;
    width: 112px;
    height: 32px;
    left: 32px;
    top: 32px;
    margin: 32px 0px;
  }
  .feedbackPersonDetails2 {
    position: static;
    width: 239px;
    height: 156px;
    left: 32px;
    top: 0px;
  }
  .personDetails2 {
    position: static;
    width: 239px;
    height: 48px;
    left: 0px;
    top: 108px;
    margin: 24px 0px;
  }
  .feedback2 {
    position: static;
    width: 239px;
    height: 84px;
    left: 0px;
    top: 0px;
    margin: 0px 0px;
  }
}
