
/*-----------BACKGROUND-------------*/
.background {
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    width: 1440px;
    height: 866px;
  }
  
  .transformSkew {
    -moz-transform: skew(0deg, -7deg);
    -ms-transform: skew(0deg, -7deg);
    -o-transform: skew(0deg, -7deg);
    -webkit-transform: skew(0deg, -7deg);
    transform: skew(0deg, -7deg);
    transform-origin: 0% 100%;
  }
  
  .bG {
    position: absolute;
    width: 1440px;
    height: 752px;
    left: 0px;
    top: 0px;
    background: rgba(242, 247, 255, 0.7);
    backdrop-filter: blur(100px);
  }
  
  .purpleCircle {
    position: absolute;
    filter: blur(150px);
    width: 406px;
    height: 406px;
    left: 1087px;
    top: -37px;
    background: #7c3aed;
    opacity: 0.6;
  }
  .turquoiseCircle {
    filter: blur(100px);
    position: absolute;
    width: 168px;
    height: 168px;
    left: 829px;
    top: 464px;
    background: #1db5be;
    opacity: 0.6;
  }
  
  .leftBand1 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: 0px;
    top: 635.5px;
    background: #75e3ea;
  }
  .leftBand2 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: -152px;
    top: 718.49px;
    background: #ede9fe;
  }
  .rightBand1 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: 988px;
    top: 448px;
    background: #ede9fe;
  }
  .rightBand2 {
    position: absolute;
    width: 612px;
    height: 140.81px;
    left: 828px;
    top: 508px;
    background: #c4b5fd;
  }
  .rightBand3 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: 1260px;
    top: 541.49px;
    background: #75e3ea;
  }
  @media only screen and (max-width: 768px) {
       /*-----------BACKGROUND-------------*/
  .background {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 768px;
    height: 1100px;
    left: 0px;
    top: 0px;
  }

  .transformSkew {
    -moz-transform: skew(0deg, -7deg);
    -ms-transform: skew(0deg, -7deg);
    -o-transform: skew(0deg, -7deg);
    -webkit-transform: skew(0deg, -7deg);
    transform: skew(0deg, -7deg);
    transform-origin: 0% 100%;
  }

  .bG {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -50px;
    bottom: 13.16%;
    height: 955.2px;
    width: 768px;
  }

  .purpleCircle {
    position: absolute;
    left: 75.52%;
    right: -3.78%;
    top: -4.27%;
    bottom: 57.36%;
    width: 217px;
    height: 516px;
  }
  .turquoiseCircle {
    position: absolute;
    left: 57.55%;
    right: 30.73%;
    top: 53.55%;
    bottom: 27.09%;
    width: 90px;
    height: 213px;
  }

  .leftBand1 {
    position: absolute;
    left: 0%;
    right: 70.83%;
    top: 73.38%;
    bottom: 13.16%;
  }
  .leftBand2 {
    position: absolute;
    left: -10.56%;
    right: 81.39%;
    top: 82.97%;
    bottom: 3.58%;
    width: 300px;
  }
  .rightBand1 {
    position: absolute;
    left: 68.61%;
    right: 2.22%;
    top: 51.73%;
    bottom: 34.81%;
  }
  .rightBand2 {
    position: absolute;
    left: 57.5%;
    right: 0%;
    top: 58.66%;
    bottom: 25.08%;
  }
  .rightBand3 {
    position: absolute;
    left: 87.5%;
    right: -16.67%;
    top: 62.53%;
    bottom: 24.02%;
  }
  .transformSkew {
    -moz-transform: skew(0deg, -7deg);
    -ms-transform: skew(0deg, -7deg);
    -o-transform: skew(0deg, -7deg);
    -webkit-transform: skew(0deg, -7deg);
    transform: skew(0deg, 344deg);
    transform-origin: 0% 100%;
  }
    
}
  
@media only screen and (max-width: 375px) {
    .background {
        margin: 0px;
        padding: 0px;
        position: absolute;
        width: 375px;
        height: 1100px;
        left: 0px;
        top: 0px;
      }
    
      .transformSkew {
        -moz-transform: skew(0deg, -7deg);
        -ms-transform: skew(0deg, -7deg);
        -o-transform: skew(0deg, -7deg);
        -webkit-transform: skew(0deg, -7deg);
        transform: skew(0deg, -7deg);
        transform-origin: 0% 100%;
      }
    
      .bG {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 13.16%;
        height: 955.2px;
        width: 375px;
      }
    
      .transformSkew {
        -moz-transform: skew(0deg, -7deg);
        -ms-transform: skew(0deg, -7deg);
        -o-transform: skew(0deg, -7deg);
        -webkit-transform: skew(0deg, -7deg);
        transform: skew(0deg, 340deg);
        transform-origin: 0% 100%;
      }
        
}